---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';
import { SITE } from '../site.config';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title={SITE.title}>
  <div class="index-content framed">
    <h1 id="hello-there">{SITE.homepage.title}</h1>
    <p>{SITE.homepage.subtitle}</p>
    {SITE.homepage.description.map(paragraph => (
      <p>{paragraph}</p>
    ))}
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>